{% extends "layout.html" %}

{% block content %}
    <form action="/result" method="POST">
        <label for="species">Choose a species:</label>
        <select name="species">
            <option value="dwarf">Dwarf</option>
            <option value="elf">Elf</option>
            <option value="fairy">Fairy</option>
            <option value="minotaur">Minotaur</option>
        </select>

        <br>

        <label for="gender">Choose a gender:</label>
        <select name="gender">
            <option value="female">Female</option>
            <option value="neutral">Neutral</option>
            <option value="male">Male</option>
        </select>

        <br>

        <label for="number">Choose how many names you want to generate:</label>
        <select name="number">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>

        <br><br>

        <input type="submit" class="btn btn-light">
    </form>
{% endblock %}